:root {
  --dark-color: rgb(15,23,42);
  --light-color: rgb(226,232,240);
  --light-color-darker: #ced8ee;
  --gray-color: rgb(128,142,163);
  --green-color: rgb(79,194,196);
  --green-color-darker: rgb(24,54,79);
}